# Environnements
.env
.env.prod
.env.local
.env.*.local
!.env.prod.example   # Ce fichier est commité (c'est juste un template)

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Django
staticfiles/
media/
db.sqlite3

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db